<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:javac="http://ykiselev.github.com/schema/javac"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://ykiselev.github.com/schema/javac javac.xsd">

    <javac:bean id="javaBean" script-source="script:org/xyz/Calc.java">
        <property name="tag" value="123"/>
    </javac:bean>

    <lang:groovy id="groovyBean" script-source="script:org/xyz/GroovyBean.groovy"/>

</beans>